<ion-header>
  <ion-toolbar>
    <ion-title>Publicar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="publicarViaje()">
    <ion-item>
      <ion-input [(ngModel)]="titulo" name="titulo" placeholder="Título del viaje" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="descripcion" name="descripcion" placeholder="Descripción" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="lugar" name="lugar" placeholder="Lugar" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="fecha" name="fecha" type="date" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Publicar</ion-button>
  </form>
</ion-content>
