<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-input [(ngModel)]="username" name="username" placeholder="Usuario" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Correo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Crear Cuenta</ion-button>
  </form>
</ion-content>
